@import "mixins";
@import "compass/css3";
@import "compass/utilities/sprites";

$ucan-spacing: 5px;

@import "ucan/*.png";

/**
 * varibles
 */
// COLORS

// fonts color
$purple:#0b2998; // main color
$yellow:#fea411;
$blue:#25b0fc;
$dark-gray:#555; // title
$gray:#909090; // author/second part
// bg
$gray-bg:#eee;
$light-gray-bg:#f6f6f6;//schedule hover bg
$white-bg:#fdfdfd;
$yellow-bg:#fed939;

$border-color:#ddd;

// HEIGHT
$navbar-h:70px;

// FONTS
$sansFontFamily:Arial, "Hiragino Sans GB","Microsoft Yahei", "微软雅黑",sans-serif;
$serifFontFamily:Georgia, "Times New Roman", Times, "SimSun","宋体",serif;

$font-xlg:18px;
$font-lg:16px;
$font-md:14px;
$font-sm:12px;

@include parallax-init;

body {
    height: 3878px;
    // background: url('../imgs/UCAN2015.png');
    background-position: -120px 0;
    background-repeat: no-repeat;
    overflow-x:hidden;
    font-family: $sansFontFamily;
}
#page {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    overflow-x:hidden;
}
.bg-1-triangle {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    background-image: url('../imgs/bg-1-triangle.png');
    background-repeat: no-repeat;
    height: inherit;
    z-index: -1000;
}
.bg-2-hero {
    @include parallax(.2);
    position: absolute;
    left:0;
    top:120px;
    width: 100%;
    height: 857px;
    background-image: url('../imgs/bg-2-hero.png');
    background-repeat: no-repeat;
    z-index: -900;
}
.bg-2-page {
    position: absolute;
    left:0;
    top:1000px;
    width: 100%;
    height: 2424px;
    background-image: url('../imgs/bg-2-page.png');
    background-repeat: no-repeat;
    z-index: -900;
}
.container {
    width: 1000px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 34px;
}
.navbar {
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    height: $navbar-h;
    background-color: #fff;
    overflow-y: scroll;
    .logo {
        float: left;
        width: 96px;
        height: 45px;
        margin-top: 13px;
        @include ucan-sprite(ucanlogo);
    }
    .nav-items {
        float: right;
        color:$dark-gray;
        font-size: 0;
        .nav-item {
            list-style: none;
            display: inline-block;
            &:hover,&:focus, &.active {
                color:$purple;
                font-weight: bold;
            }
            a {
                display: inline-block;
                text-align: center;
                font-size: $font-lg;
                font-weight: inherit;
                width: 70px;
                height: $navbar-h;
                line-height: $navbar-h;
                margin-left: 15px;
                color:inherit;
            }
        }
    }
}
#hero {
    display: block;
    width: 100%;
    height: 440px;
    margin-bottom: 150px;
    z-index: 1000;
    @include transform-style(flat);
    .container {
        position: relative;
    }
    .hero-logo {
        display: block;
        width: 498px;
        height: 218px;
        position: absolute;
        top:158px;
        left: 188px;
        @include ucan-sprite(hero-logo);
        @include transform-style(flat);
    }
    .sign-up-btn {
        display: block;
        width: 117px;
        height: 117px;
        position: absolute;
        top:255px;
        right: 150px;
        cursor:pointer;
        @include ucan-sprite(signup);
        &:hover,&:focus {
            @include ucan-sprite(signup-hover);
        }
    }
}
section {
    padding-top: 80px;
}
#agenda {
    // margin-top: 650px;
    height: 1140px;
    .title.agenda-title {
        @include ucan-sprite(agenda-title);
    }
    .date-wrap {
        display: block;
        width: 406px;
        font-size: 0;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        list-style: none;
        li {
            display: inline-block;
            a {
                @include appearance(none);
            }
        }
        .day {
            display: inline-block;
            width: 198px;
            height: 75px;
        }
        .day1 {
            margin-right: 10px;
            @include ucan-sprite(day1-inactive);
            &.active {
                @include ucan-sprite(day1-active);
            }
        }
        .day2 {
            @include ucan-sprite(day2-inactive);
            &.active {
                @include ucan-sprite(day2-active);
            }
        }
    }
    .timeline-wrap {
        .line {
            display: block;
            position: absolute;
            left:310px;
            width: 0;
            height: 100%; //fallback
            height: calc(100% - 25px);
            border-left: 1px solid $purple;
        }
        .tl-circle {
            display: block;
            height: 50px;
            width: 50px;
            margin-top: 20px;
            margin-left: 285px;
            margin-bottom: 20px;
            font-size: $font-md;
            color:#fff;
            line-height: 50px;
            text-align: center;
            background-color: $purple;
            border-radius:50%;
        }
        .tl-dot {
            position: absolute;
            bottom:25px;
            left: 305px;
            height: 10px;
            width: 10px;
            background-color: $purple;
            border-radius:50%;
        }
        .tl-mod {
            display: block;
            height: 52px;
            line-height: 52px;
            font-size: 0;
            margin-left: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            .time {
                display: inline-block;
                width: 100px;
                text-align: right;
                color:$purple;
                font-size: $font-lg;
            }
            .tl-dot {
                top:20px;
                left: 105px;
            }
            .topic-mod {
                display: inline-block;
                vertical-align: top;
                margin-left: 28px;
                width: 455px;
                height: inherit;
                background-color: $gray-bg;
                .topic {
                    float: left;
                    margin-left: 20px;
                    font-size: $font-xlg;
                    color:$dark-gray;
                }
                .author {
                    float: right;
                    margin-right: 20px;
                    font-size: $font-sm;
                    color:$gray;
                }
                &:hover, &:focus {
                    background-color: $light-gray-bg;
                }

                &.light {
                    background-color: $white-bg;
                    border:1px solid $border-color;
                    .topic {
                        font-size: $font-md;
                    }
                    &:hover, &:focus {
                        // background-color: $light-gray-bg;
                    }
                }
            }
        }
        .tl-mod-lg {
            display: block;
            font-size: 0;
            margin-left: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            .time {
                display: inline-block;
                width: 100px;
                height: 52px;
                line-height: 52px;
                text-align: right;
                color:$purple;
                font-size: $font-lg;
            }
            .tl-dot {
                top:20px;
                left: 105px;
            }
            .tab-block {
                display: inline-block;
                vertical-align: top;
                margin-left: 28px;
                width: 464px;
                height: 360px;
                font-size: $font-lg;
                .tabs {
                    list-style: none;
                    font-size: 0;
                    li {
                        display: inline-block;
                        margin-right: 1px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            display: inline-block;
                            width: 154px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            font-size: $font-lg;
                            color:$dark-gray;
                            background-color: $gray-bg;
                            small {
                                font-size: $font-sm;
                            }
                            &.active {
                                color:#fff;
                                background-color: $purple;
                            }
                        }
                    }
                }
                .tab-content {
                    width: 464px;
                    border:1px solid $purple;
                    .topic-mod {
                        display: block;
                        height: 43px;
                        line-height: 43px;
                        width: 100%;
                        border-bottom: 1px solid $border-color;
                        background-color: $white-bg;
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover, &:focus {
                            background-color: $light-gray-bg;
                        }
                        .topic {
                            float: left;
                            margin-left: 20px;
                            font-size: $font-xlg;
                            color:$dark-gray;
                        }
                        .author {
                            float: right;
                            margin-right: 20px;
                            font-size: $font-sm;
                            color:$gray;
                        }
                    }
                }
            }
        }
    }
}

#special-guest {
    .title.special-guest-title {
        @include ucan-sprite(special-guest-title);
    }
}

#guest {
    .title.guest-title {
        @include ucan-sprite(guest-title);
    }
}

#partner {
    .title.partner-title {
        @include ucan-sprite(partner-title);
    }
}