// @import "mixins";
@import "compass/css3";
@import "compass/utilities/sprites";

$ucan-spacing: 5px;

@import "ucan/*.png";

/**
 * varibles
 */
// COLORS

// fonts color
$purple:#0b2998; // main color
$yellow:#fed939;
$blue:#25bff8;
$dark-gray:#555; // title
$gray:#909090; // author/second part
// bg
$gray-bg:#eee;
$light-gray-bg:#f6f6f6;//schedule hover bg
$white-bg:#fdfdfd;

$border-color:#ddd;

// HEIGHT
$navbar-h:70px;

// FONTS
$sansFontFamily:Arial, "Hiragino Sans GB","Microsoft Yahei", "微软雅黑",sans-serif;
$serifFontFamily:Georgia, "Times New Roman", Times, "SimSun","宋体",serif;

$font-xlg:18px;
$font-lg:16px;
$font-md:14px;
$font-sm:12px;

// @include parallax-init;

body {
    background-position: -120px 0;
    background-repeat: no-repeat;
    font-family: $sansFontFamily;
    margin-bottom: 120px;
    background-color: $white-bg;
}
#parallax {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.parallax-wrap {
    display: block;
    width: 100%;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
}
#parallax-scene .layer {
    width: 100%;
}
.bg-tri-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-tri-2 {
    position: absolute;
    left:50%;
    overflow:hidden;
    z-index: -900;
    top:800px;
    margin-left: -497px;
}
.bg-tri-3 {
    position: absolute;
    left:50%;
    overflow:hidden;
    z-index: -900;
    top:1800px;
    margin-left: -550.5px;
}
.bg-2-hero {
    position: absolute;
    left:50%;
    margin-left: -905.5px;
    top:0;
    z-index: -800;
}
.bg-2-page {
    position: absolute;
    left:50%;
    margin-left: -876.5px;
    top:1290px;
    z-index: -800;
    max-width:1753px;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        height: 34px;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
}

.navbar {
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    height: $navbar-h;
    background-color: #fff;
    overflow-y: scroll;
    .logo {
        float: left;
        width: 96px;
        height: 45px;
        margin-top: 13px;
        @include ucan-sprite(ucanlogo);
    }
    .nav-items {
        float: right;
        color:$dark-gray;
        font-size: 0;
        .nav-item {
            list-style: none;
            display: inline-block;
            &:hover,&:focus, &.active {
                color:$purple;
                font-weight: bold;
            }
            a {
                display: inline-block;
                text-align: center;
                font-size: $font-lg;
                font-weight: inherit;
                width: 70px;
                height: $navbar-h;
                line-height: $navbar-h;
                margin-left: 15px;
                color:inherit;
            }
        }
    }
}
section {
    padding-top: 80px;
}
.hero-wrap {
    display: block;
    position: relative;
    width: 710px;
    height: 220px;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
    .hero-logo {
        display: block;
        position: absolute;
        left:0;
        bottom:0;
        margin-left: 40px;
        width: 498px;
        height: 218px;
        @include ucan-sprite(hero-logo);
        // @include transform-style(flat);
    }
    .sign-up-btn {
        display: block;
        width: 117px;
        height: 117px;
        position: absolute;
        right:0;
        bottom:0;
        cursor:pointer;
        @include ucan-sprite(signup);
        &:hover,&:focus {
            @include ucan-sprite(signup-hover);
        }
    }
}
.parallax-wrap .intro-wrap {
    display: block;
    p {
        display: block;
        text-align: left;
        width: 667px;
        margin: 640px auto 120px;
        color:$purple;
        line-height: 1.5em;
        font-size: $font-lg;
        .tri {
            display: inline-block;
            width: 22px;
            height: 26px;
            vertical-align: bottom;
            margin-right: 10px;
            @include ucan-sprite(tri);
        }
    }
}
#agenda {
    height: 1140px;
    .title.agenda-title {
        @include ucan-sprite(agenda-title);
    }
    .date-wrap {
        display: block;
        width: 406px;
        font-size: 0;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        list-style: none;
        li {
            display: inline-block;
            a {
                @include appearance(none);
            }
        }
        .day {
            display: inline-block;
            width: 198px;
            height: 75px;
        }
        .day1 {
            margin-right: 10px;
            @include ucan-sprite(day1-inactive);
            &.active {
                @include ucan-sprite(day1-active);
            }
        }
        .day2 {
            @include ucan-sprite(day2-inactive);
            &.active {
                @include ucan-sprite(day2-active);
            }
        }
    }
    .timeline-wrap {
        position: relative;
        .line {
            display: block;
            position: absolute;
            left:310px;
            width: 0;
            height: 100%; //fallback
            height: calc(100% - 25px);
            border-left: 1px solid $purple;
        }
        .tl-circle {
            display: block;
            height: 50px;
            width: 50px;
            margin-top: 20px;
            margin-left: 285px;
            margin-bottom: 20px;
            font-size: $font-md;
            color:#fff;
            line-height: 50px;
            text-align: center;
            background-color: $purple;
            border-radius:50%;
        }
        .tl-dot {
            position: absolute;
            bottom:25px;
            left: 305px;
            height: 10px;
            width: 10px;
            background-color: $purple;
            border-radius:50%;
        }
        .tl-mod {
            display: block;
            position: relative;
            height: 52px;
            line-height: 52px;
            font-size: 0;
            margin-left: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            .time {
                display: inline-block;
                width: 100px;
                text-align: right;
                color:$purple;
                font-size: $font-lg;
            }
            .tl-dot {
                top:20px;
                left: 105px;
            }
            .topic-mod {
                display: inline-block;
                vertical-align: top;
                margin-left: 28px;
                width: 455px;
                height: inherit;
                background-color: $gray-bg;
                .topic {
                    float: left;
                    margin-left: 20px;
                    font-size: $font-xlg;
                    color:$dark-gray;
                }
                .author {
                    float: right;
                    margin-right: 20px;
                    font-size: $font-sm;
                    color:$gray;
                }
                &:hover, &:focus {
                    background-color: $light-gray-bg;
                }

                &.light {
                    background-color: $white-bg;
                    border:1px solid $border-color;
                    .topic {
                        font-size: $font-md;
                    }
                    &:hover, &:focus {
                        // background-color: $light-gray-bg;
                    }
                }
            }
        }
        .tl-mod-lg {
            display: block;
            font-size: 0;
            margin-left: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            transform-style:flat; //fix firefox bug
            .time {
                display: inline-block;
                width: 100px;
                height: 52px;
                line-height: 52px;
                text-align: right;
                color:$purple;
                font-size: $font-lg;
            }
            .tl-dot {
                top:20px;
                left: 105px;
            }
            .tab-block {
                display: inline-block;
                vertical-align: top;
                margin-left: 28px;
                width: 464px;
                font-size: $font-lg;
                .tabs {
                    list-style: none;
                    font-size: 0;
                    li {
                        display: inline-block;
                        margin-right: 1px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            display: inline-block;
                            width: 154px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            font-size: $font-lg;
                            color:$dark-gray;
                            background-color: $gray-bg;
                            small {
                                font-size: $font-sm;
                            }
                            &.active {
                                color:#fff;
                                background-color: $purple;
                            }
                        }
                    }
                }
                .tab-content {
                    width: 464px;
                    border:1px solid $purple;
                    .topic-mod {
                        display: block;
                        height: 43px;
                        line-height: 43px;
                        width: 100%;
                        border-bottom: 1px solid $border-color;
                        background-color: $white-bg;
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover, &:focus {
                            background-color: $light-gray-bg;
                        }
                        .topic {
                            float: left;
                            margin-left: 20px;
                            font-size: $font-xlg;
                            color:$dark-gray;
                        }
                        .author {
                            float: right;
                            margin-right: 20px;
                            font-size: $font-sm;
                            color:$gray;
                        }
                    }
                }
            }
        }
    }
}

#special-guest {
    height: 644px;
    background-color: $yellow;
    color:$purple;
    z-index: -1000;
    .title.special-guest-title {
        @include ucan-sprite(special-guest-title);
    }
    p.leading {
        display: block;
        width: 590px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        line-height: 1.5em;
        font-size: $font-lg;
        text-align: center;
    }
    .guest-wrap {
        width: 945px;
        margin-left: auto;
        margin-right: auto;
        font-size: 0;
        .guest {
            display: inline-block;
            width: 235px;
            height: 291px;
            margin-right: 1px;
            background-color: $light-gray-bg;
            position: relative;
            .mask {
                position: absolute;
                display: none;
                bottom:0;
                height: 71px;
                width: 100%;
                color:#fff;
                text-align: center;
                background-color: $blue;
                background-color: rgba($blue, 0.8);
                .name {
                    font-size: $font-xlg;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .intro {
                    font-size: $font-md;
                }
            }
            &:hover, &:focus {
                .mask {
                    display: block;
                }
            }

        }
    }
}

#guest {
    .container {

    }
    .title.guest-title {
        @include ucan-sprite(guest-title);
    }
    .guest-wrap {
        width: 845px;
        margin-left: auto;
        margin-right: auto;
        font-size: 0;
        &.narrow {
            width: 665px;
        }
    }
    .guest-mod {
        display: inline-block;
        margin-top: 50px;
        margin-right: 48px;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        .avatar {
            display: block;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background-color: $light-gray-bg;
        }
        .name {
            font-size: $font-lg;
            // font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .intro {
            font-size: $font-sm;
        }
    }
}

#partner {
    .title.partner-title {
        @include ucan-sprite(partner-title);
        margin-bottom: 40px;
    }
    .partner-wrap {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 0;
    }
    .partner-logo {
        display: inline-block;
        width: 120px;
        height: 50px;
        margin-right: 17px;
        background-color: $yellow;
        @include filter(grayscale(1));
        &:hover {
            @include filter(grayscale(0));
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

/**
 * Modal
 */
.modal-dialog {
    display: none;
    // display: block;
    position: fixed;
    left: 50%;
    top:10%;
    margin-left: -349px;
    // margin-top: -321px;
    text-align: left;
    width: 698px;
    background: #FFF;
    color:$dark-gray;
    border:6px solid $purple;
    .jqmClose {
        color:#fff;
        position: absolute;
        right:20px;
        top:20px;
        font-size: 32px;
        z-index: 10;
    }
    .modal-header {
        height: 111px;
        background-color: $yellow;
        position: relative;
        padding-left: 160px;
        .photo {
            position: absolute;
            border-radius:50%;
            top:20px;
            left:40px;
            background-color: $light-gray-bg;
        }
        .name {
            padding-top: 45px;
            margin-bottom: 10px;
            font-size: $font-xlg;
        }
        .title {
            font-size: $font-md;
        }
    }
    .modal-body {
        padding: 40px;
        .intro-wrap {
            margin-bottom: 25px;
            p {
                text-indent:2em;
                line-height: 1.8em;
                font-size: $font-md;
            }
        }
        .topic-wrap {
            margin-bottom: 25px;
            .topic {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: $font-xlg;
            }
            p {
                line-height: 1.8em;
                font-size: $font-md;
            }
        }
        .datetime-wrap {
            .iconfont {
                margin-right: 10px;
            }
            margin-top: 10px;
            font-size: $font-md;
        }
        .location-wrap {
            .iconfont {
                margin-right: 10px;
            }
            margin-top: 10px;
            font-size: $font-md;
        }
    }
}

.jqmOverlay {
    background-color: #fff;
}