@charset "UTF-8";
/* line 144, ucan/*.png */
.ucan-sprite, .navbar .ucan-logo, .hero-wrap .hero-logo, .hero-wrap .sign-up-btn, .hero-wrap .sign-up-btn:hover, .hero-wrap .sign-up-btn:focus, .parallax-wrap .intro-wrap p .tri, #agenda .title.agenda-title, #agenda .date-wrap .day1, #agenda .date-wrap .day1.active, #agenda .date-wrap .day2, #agenda .date-wrap .day2.active, #special-guest .title.special-guest-title, #guest .title.guest-title, #partner .title.partner-title {
  background-image: url('../imgs/ucan-s8c2733317e.png');
  background-repeat: no-repeat; }

/**
 * varibles
 */
/* line 43, ../sass/index.scss */
body {
  background-position: -120px 0;
  background-repeat: no-repeat;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
  margin-bottom: 120px;
  background-color: #fdfdfd;
  overflow-x: hidden; }

/* line 51, ../sass/index.scss */
#parallax {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 56, ../sass/index.scss */
.parallax-wrap {
  display: block;
  width: 100%;
  height: 810px;
  margin-left: auto;
  margin-right: auto; }
  /* line 62, ../sass/index.scss */
  .parallax-wrap #parallax-scene {
    tranform-style: flat !important;
    backface-visibility: visible; }
    /* line 65, ../sass/index.scss */
    .parallax-wrap #parallax-scene .layer {
      width: 100%; }

/* line 71, ../sass/index.scss */
.bg-tri-1 {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 76, ../sass/index.scss */
.bg-tri-2 {
  position: absolute;
  left: 50%;
  overflow: hidden;
  z-index: -900;
  top: 800px;
  margin-left: -497px; }

/* line 84, ../sass/index.scss */
.bg-tri-3 {
  position: absolute;
  left: 50%;
  overflow: hidden;
  z-index: -900;
  top: 1800px;
  margin-left: -550.5px; }

/* line 92, ../sass/index.scss */
.bg-2-hero {
  position: absolute;
  left: 50%;
  margin-left: -905.5px;
  top: 0;
  z-index: -800; }

/* line 99, ../sass/index.scss */
.bg-2-page {
  position: absolute;
  left: 50%;
  margin-left: -876.5px;
  top: 1290px;
  z-index: -800;
  max-width: 1753px; }

/* line 107, ../sass/index.scss */
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  /* line 112, ../sass/index.scss */
  .container .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 34px; }

@media (max-width: 1000px) {
  /* line 121, ../sass/index.scss */
  .container {
    width: 100%; } }
/* line 126, ../sass/index.scss */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: #fff;
  overflow-y: scroll; }
  /* line 134, ../sass/index.scss */
  .navbar .ucan-logo {
    float: left;
    width: 96px;
    height: 45px;
    margin-top: 13px;
    background-position: 0 -971px; }
  /* line 141, ../sass/index.scss */
  .navbar .nav-items {
    float: right;
    color: #555;
    font-size: 0; }
    /* line 145, ../sass/index.scss */
    .navbar .nav-items .nav-item {
      list-style: none;
      display: inline-block; }
      /* line 148, ../sass/index.scss */
      .navbar .nav-items .nav-item:hover, .navbar .nav-items .nav-item:focus, .navbar .nav-items .nav-item.active {
        color: #0b2998;
        font-weight: bold; }
      /* line 152, ../sass/index.scss */
      .navbar .nav-items .nav-item a {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: inherit;
        width: 70px;
        height: 70px;
        line-height: 70px;
        margin-left: 15px;
        color: inherit; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  /* line 171, ../sass/index.scss */
  .navbar .ucan-logo {
    background-image: url("../imgs/ucanlogo-2x.png");
    background-size: 100%;
    background-position: 0 0;
    float: left;
    width: 96px;
    height: 45px;
    margin-top: 13px; } }
/* line 181, ../sass/index.scss */
section {
  padding-top: 80px; }

/* line 184, ../sass/index.scss */
.hero-wrap {
  display: block;
  position: relative;
  width: 710px;
  height: 220px;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto; }
  /* line 192, ../sass/index.scss */
  .hero-wrap .hero-logo {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    width: 498px;
    height: 218px;
    background-position: 0 -396px; }
  /* line 202, ../sass/index.scss */
  .hero-wrap .sign-up-btn {
    display: block;
    width: 117px;
    height: 117px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-position: 0 -780px; }
    /* line 59, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
    .hero-wrap .sign-up-btn:hover, .hero-wrap .sign-up-btn.signup-hover {
      background-position: 0 -658px; }
    /* line 211, ../sass/index.scss */
    .hero-wrap .sign-up-btn:hover, .hero-wrap .sign-up-btn:focus {
      background-position: 0 -658px; }

/* line 216, ../sass/index.scss */
.parallax-wrap .intro-wrap {
  display: block; }
  /* line 218, ../sass/index.scss */
  .parallax-wrap .intro-wrap p {
    display: block;
    text-align: left;
    width: 673px;
    margin: 640px auto 120px;
    color: #0b2998;
    line-height: 1.5em;
    font-size: 16px; }
    /* line 226, ../sass/index.scss */
    .parallax-wrap .intro-wrap p .tri {
      display: inline-block;
      width: 22px;
      height: 26px;
      vertical-align: bottom;
      margin-right: 10px;
      background-position: 0 -940px; }

/* line 236, ../sass/index.scss */
#agenda {
  margin-bottom: 100px; }
  /* line 238, ../sass/index.scss */
  #agenda .title.agenda-title {
    background-position: 0 0; }
  /* line 241, ../sass/index.scss */
  #agenda .date-wrap {
    display: block;
    width: 406px;
    font-size: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    list-style: none; }
    /* line 250, ../sass/index.scss */
    #agenda .date-wrap li {
      display: inline-block; }
      /* line 252, ../sass/index.scss */
      #agenda .date-wrap li a {
        -moz-appearance: none;
        -webkit-appearance: none; }
    /* line 256, ../sass/index.scss */
    #agenda .date-wrap .day {
      display: inline-block;
      width: 198px;
      height: 75px; }
    /* line 261, ../sass/index.scss */
    #agenda .date-wrap .day1 {
      margin-right: 10px;
      background-position: 0 -118px; }
      /* line 264, ../sass/index.scss */
      #agenda .date-wrap .day1.active {
        background-position: 0 -38px; }
    /* line 268, ../sass/index.scss */
    #agenda .date-wrap .day2 {
      background-position: 0 -278px; }
      /* line 270, ../sass/index.scss */
      #agenda .date-wrap .day2.active {
        background-position: 0 -198px; }
  /* line 275, ../sass/index.scss */
  #agenda .timeline-wrap {
    position: relative; }
    /* line 277, ../sass/index.scss */
    #agenda .timeline-wrap .line {
      display: block;
      position: absolute;
      left: 310px;
      width: 0;
      height: 100%;
      height: calc(100% - 25px);
      border-left: 1px solid #0b2998; }
    /* line 286, ../sass/index.scss */
    #agenda .timeline-wrap .tl-circle {
      display: block;
      height: 50px;
      width: 50px;
      margin-top: 20px;
      margin-left: 285px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #fff;
      line-height: 50px;
      text-align: center;
      background-color: #0b2998;
      border-radius: 50%; }
    /* line 300, ../sass/index.scss */
    #agenda .timeline-wrap .tl-dot {
      position: absolute;
      bottom: 25px;
      left: 305px;
      height: 10px;
      width: 10px;
      background-color: #0b2998;
      border-radius: 50%; }
    /* line 309, ../sass/index.scss */
    #agenda .timeline-wrap .tl-mod {
      display: block;
      position: relative;
      height: 52px;
      line-height: 52px;
      font-size: 0;
      margin-left: 200px;
      margin-top: 10px;
      margin-bottom: 10px; }
      /* line 318, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod .time {
        display: inline-block;
        width: 100px;
        text-align: right;
        color: #0b2998;
        font-size: 16px; }
      /* line 325, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod .tl-dot {
        top: 20px;
        left: 105px; }
      /* line 329, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod .topic-mod {
        display: inline-block;
        vertical-align: top;
        margin-left: 28px;
        width: 455px;
        height: inherit;
        background-color: #eee; }
        /* line 336, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod .topic-mod .topic {
          float: left;
          margin-left: 20px;
          font-size: 18px;
          color: #555; }
        /* line 342, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod .topic-mod .name {
          float: right;
          margin-right: 20px;
          font-size: 12px;
          color: #909090; }
        /* line 348, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod .topic-mod:hover, #agenda .timeline-wrap .tl-mod .topic-mod:focus {
          background-color: #f6f6f6; }
        /* line 352, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod .topic-mod.light {
          background-color: #fdfdfd;
          border: 1px solid #ddd; }
          /* line 355, ../sass/index.scss */
          #agenda .timeline-wrap .tl-mod .topic-mod.light .topic {
            font-size: 14px; }
    /* line 365, ../sass/index.scss */
    #agenda .timeline-wrap .tl-mod-lg {
      display: block;
      font-size: 0;
      margin-left: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;
      transform-style: flat; }
      /* line 373, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod-lg .time {
        display: inline-block;
        width: 100px;
        height: 52px;
        line-height: 52px;
        text-align: right;
        color: #0b2998;
        font-size: 16px; }
      /* line 382, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod-lg .tl-dot {
        top: 20px;
        left: 105px; }
      /* line 386, ../sass/index.scss */
      #agenda .timeline-wrap .tl-mod-lg .tab-block {
        display: inline-block;
        vertical-align: top;
        margin-left: 28px;
        width: 464px;
        font-size: 16px; }
        /* line 392, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs {
          list-style: none;
          font-size: 0; }
          /* line 395, ../sass/index.scss */
          #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs li {
            display: inline-block;
            margin-right: 1px; }
            /* line 398, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs li:last-child {
              margin-right: 0; }
            /* line 401, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs li a {
              display: inline-block;
              width: 154px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              font-size: 16px;
              color: #555;
              background-color: #eee; }
              /* line 410, ../sass/index.scss */
              #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs li a small {
                font-size: 12px; }
              /* line 413, ../sass/index.scss */
              #agenda .timeline-wrap .tl-mod-lg .tab-block .tabs li a.active {
                color: #fff;
                background-color: #0b2998; }
        /* line 420, ../sass/index.scss */
        #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content {
          width: 464px;
          border: 1px solid #0b2998; }
          /* line 423, ../sass/index.scss */
          #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod {
            display: block;
            height: 43px;
            line-height: 43px;
            width: 100%;
            border-bottom: 1px solid #ddd;
            background-color: #fdfdfd; }
            /* line 430, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod:last-child {
              border-bottom: none; }
            /* line 433, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod:hover, #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod:focus {
              background-color: #f6f6f6; }
            /* line 436, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod .topic {
              float: left;
              margin-left: 20px;
              font-size: 18px;
              color: #555; }
            /* line 442, ../sass/index.scss */
            #agenda .timeline-wrap .tl-mod-lg .tab-block .tab-content .topic-mod .name {
              float: right;
              margin-right: 20px;
              font-size: 12px;
              color: #909090; }

/* line 455, ../sass/index.scss */
#special-guest {
  height: 644px;
  background-color: #fed939;
  color: #0b2998;
  z-index: -1000; }
  /* line 460, ../sass/index.scss */
  #special-guest .title.special-guest-title {
    background-position: 0 -902px; }
  /* line 463, ../sass/index.scss */
  #special-guest p.leading {
    display: block;
    width: 590px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    line-height: 1.5em;
    font-size: 16px;
    text-align: center; }
  /* line 474, ../sass/index.scss */
  #special-guest .guest-wrap {
    width: 945px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0; }
    /* line 479, ../sass/index.scss */
    #special-guest .guest-wrap .guest {
      display: inline-block;
      width: 235px;
      height: 291px;
      margin-right: 1px;
      background-color: #f6f6f6;
      position: relative; }
      /* line 486, ../sass/index.scss */
      #special-guest .guest-wrap .guest .mask {
        position: absolute;
        display: none;
        bottom: 0;
        height: 71px;
        width: 100%;
        color: #fff;
        text-align: center;
        background-color: #25bff8;
        background-color: rgba(37, 191, 248, 0.8); }
        /* line 496, ../sass/index.scss */
        #special-guest .guest-wrap .guest .mask .name {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 10px; }
        /* line 501, ../sass/index.scss */
        #special-guest .guest-wrap .guest .mask .intro {
          font-size: 14px; }
      /* line 506, ../sass/index.scss */
      #special-guest .guest-wrap .guest:hover .mask, #special-guest .guest-wrap .guest:focus .mask {
        display: block; }

/* line 519, ../sass/index.scss */
#guest .title.guest-title {
  background-position: 0 -358px; }
/* line 522, ../sass/index.scss */
#guest .guest-wrap {
  width: 845px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0; }
  /* line 527, ../sass/index.scss */
  #guest .guest-wrap.narrow {
    width: 665px; }
/* line 531, ../sass/index.scss */
#guest .guest-mod {
  display: inline-block;
  margin-top: 50px;
  margin-right: 48px;
  text-align: center; }
  /* line 536, ../sass/index.scss */
  #guest .guest-mod:last-child {
    margin-right: 0; }
  /* line 539, ../sass/index.scss */
  #guest .guest-mod .avatar {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #f6f6f6; }
  /* line 546, ../sass/index.scss */
  #guest .guest-mod .name {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px; }
  /* line 552, ../sass/index.scss */
  #guest .guest-mod .intro {
    font-size: 12px; }

/* line 559, ../sass/index.scss */
#partner .title.partner-title {
  background-position: 0 -619px;
  margin-bottom: 40px; }
/* line 563, ../sass/index.scss */
#partner .partner-wrap {
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 0; }
/* line 569, ../sass/index.scss */
#partner .partner-logo {
  display: inline-block;
  width: 120px;
  height: 50px;
  margin-right: 17px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  /* line 575, ../sass/index.scss */
  #partner .partner-logo:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  /* line 578, ../sass/index.scss */
  #partner .partner-logo:last-child {
    margin-right: 0; }

/**
 * Modal
 */
/* line 587, ../sass/index.scss */
.modal-dialog {
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  margin-left: -349px;
  text-align: left;
  width: 698px;
  max-height: 650px;
  background: #FFF;
  color: #555;
  border: 6px solid #0b2998;
  overflow: auto; }
  /* line 602, ../sass/index.scss */
  .modal-dialog .jqmClose {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 32px;
    z-index: 10; }
  /* line 610, ../sass/index.scss */
  .modal-dialog .modal-header {
    height: 111px;
    background-color: #fed939;
    position: relative;
    padding-left: 160px; }
    /* line 615, ../sass/index.scss */
    .modal-dialog .modal-header .photo {
      position: absolute;
      border-radius: 50%;
      top: 20px;
      left: 40px;
      background-color: #f6f6f6; }
    /* line 622, ../sass/index.scss */
    .modal-dialog .modal-header .name {
      padding-top: 45px;
      margin-bottom: 10px;
      font-size: 18px; }
    /* line 627, ../sass/index.scss */
    .modal-dialog .modal-header .title {
      font-size: 14px; }
  /* line 631, ../sass/index.scss */
  .modal-dialog .modal-body {
    padding: 40px; }
    /* line 633, ../sass/index.scss */
    .modal-dialog .modal-body .intro-wrap {
      margin-bottom: 25px; }
      /* line 635, ../sass/index.scss */
      .modal-dialog .modal-body .intro-wrap p {
        text-indent: 2em;
        line-height: 1.8em;
        font-size: 14px; }
    /* line 641, ../sass/index.scss */
    .modal-dialog .modal-body .topic-wrap {
      margin-bottom: 25px; }
      /* line 643, ../sass/index.scss */
      .modal-dialog .modal-body .topic-wrap .topic {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px; }
      /* line 648, ../sass/index.scss */
      .modal-dialog .modal-body .topic-wrap p {
        line-height: 1.8em;
        font-size: 14px; }
    /* line 653, ../sass/index.scss */
    .modal-dialog .modal-body .datetime-wrap {
      margin-top: 10px;
      font-size: 14px; }
      /* line 654, ../sass/index.scss */
      .modal-dialog .modal-body .datetime-wrap .iconfont {
        margin-right: 10px; }
    /* line 660, ../sass/index.scss */
    .modal-dialog .modal-body .location-wrap {
      margin-top: 10px;
      font-size: 14px; }
      /* line 661, ../sass/index.scss */
      .modal-dialog .modal-body .location-wrap .iconfont {
        margin-right: 10px; }

/* line 670, ../sass/index.scss */
.jqmOverlay {
  background-color: #fff; }
